@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
body {
  font-family: "Quicksand", sans-serif;
  /* font-family: "kaushan Script", cursive; */
  font-weight: bold;
  /* font-family: "Amazon Ember"; */
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url("/public/images/appback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

:root {
  --green: #27ae60;
  --dark-color: #219150;
  --black: #444;
  --light-color: #666;
  --border: 2rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

nav {
  background-color: rgba(248, 249, 250, 1);
  padding: 1rem 1rem;
}

.header-color {
  border: 0.18rem solid #fff;
  background-color: rgba(33, 37, 41, 1);
  text-align: center;

  padding: 5px;
}

/* nav profile in header */
.nav-profile {
  width: 30%;
}

nav .nav-profile Link:hover {
  color: #f38f0b;
}

/* HeaderTwo styling */

.nav-link-custom {
  color: #fff !important;
  font-weight: bolder;
  text-decoration: none;
}

.nav-link-custom:hover {
  text-decoration: underline !important;
}

.nav-link-custom.active {
  color: #f38f0b !important;
}

#search_btn {
  background-color: #f38f0b;
  color: #fff;
  border-bottom-right-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  /* border: 2px solid black; */
}

.input-group {
  width: 80%;
  /* margin-right: 30%; */
  border-radius: 2rem;
  /* border: var(--border); */
}

#search_field {
  height: 2.4rem;
  padding: 1rem;
  color: black;
  font-weight: 500;
  border-bottom-left-radius: 1.2rem;
  border-top-left-radius: 1.2rem;
  border: 1px solid black;
}

#login_btn {
  /* background-color: #febd69; */
  color: black;
  /* padding: 0.4rem 1.8rem; */
  /* font-family: calibri; */
}

#cart {
  font-size: 1rem;
  color: black;
}

#cart_count {
  /* background-color: #febd69; */
  padding: 0.2rem 0.2rem;
  border-radius: 0.2rem;
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Home page */
.home_container {
  background-image: url("/public/images/goldblack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* background-color: rgba(33, 37, 41, 1); */
  color: #fff;
  align-content: center;
  padding: 5px;
}

/* down arrow in home page  */
.down-arrow {
  width: 0;
  height: 20px;
  text-align: center;
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

.down-arrow {
  animation: jumpInfinite 1.5s infinite;
}

.home_container .home_second_col {
  background-color: rgba(248, 249, 250, 1);
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff; /* Color of the dots */
}

.carousel-indicators .active {
  background-color: #fa9c23; /* Color of the active dot */
}

.row-products-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  position: relative;
  margin: 0 50px; /* Add margin to make space for the buttons */
}
.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.prev-button {
  left: 0;
  margin-left: -10px; /* Adjust to align with the container */
}

.next-button {
  right: 0;
  margin-right: -10px; /* Adjust to align with the container */
}
.row-products {
  gap: 8px;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 20px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.home-row-container {
  background-color: rgba(33, 37, 41, 1);
  margin-top: 7rem;
}

.row-products .card {
  min-width: unset;
  width: 14rem;
  transition: transform 0.2s ease;
}

.row-products .card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.row-products .card .card-body .card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  text-overflow: ellipsis;
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
}

#products_heading {
  margin-top: 1.8rem;
  font-weight: bold;
  text-align: center;
}

.card {
  height: 95%;
  border: 0.1rem solid gray;
  text-align: center;
  transition: transform 0.2s ease;
  background-color: #e2e3e5;
}

.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.card-title a {
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
}

.card-title a:hover {
  color: #fa9c23;
  text-decoration: none;
}

.card-body {
  padding-left: 0;
}

.card-text {
  font-size: 1.4rem;
}

#view_btn {
  background-color: #fa9c23;
  color: white;
}

.card-img-top {
  width: 200px;
  height: 150px;
}

.ratings {
  font-size: 1.2rem;
  /* color: #fdcc0d; */
}

#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}

/* HomeFeature styling */
.dspl {
  padding: 1rem 0.5rem;
  width: 100%;
  align-items: center;
  gap: 1rem;
  margin: auto;
}

.dspl-items3 {
  flex-basis: 23.5%;
  text-align: start;
}

.feat {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.feat i {
  font-size: 30px;
}

/* Footer */
footer {
  margin-top: 8rem;
  color: #fff;
  bottom: 0;
  width: 100%;
  background-color: rgba(33, 37, 41, 1);
}

footer .nav-link {
  color: #f1f1f2;
  font-size: 0.8rem;
}

footer .nav-link:hover {
  color: #fa9c23;
}

footer .links-heading {
  color: #f38f0b;
  font-weight: 600;
}
/* Ratings */

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fdcc0d; /* Color for the outer (empty) stars */
}

.rating-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006"; /* Unicode for FontAwesome empty stars */
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0; /* This will be dynamically set */
}

.rating-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005"; /*Unicode for FontAwesome filled stars*/
  color: red; /* Color for the filled stars */
}

/* Product Details Page */
#product_id {
  color: grey;
  font-size: 0.8rem;
}

#product_price {
  font-size: 2rem;
  font-weight: bold;
}

#cart_btn,
#review_btn {
  border-radius: 1rem;
  margin-top: 1rem;
  background-color: rgba(33, 37, 41, 1);
  border: none;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

#product_seller {
  color: grey;
  font-size: 0.9rem;
}

#stock_status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.redColor {
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
}

.greenColor {
  color: green;
  font-size: 1.2rem;
  font-weight: bold;
}

#product_image {
  margin-top: 9rem;
}

/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fa9c23;
  border-color: rgba(33, 37, 41, 1) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Cart */

.cart-item {
  margin: 1.8rem 0rem;
  padding: 0rem 0.7rem;
}

.cart-item a {
  color: grey;
}

#delete_cart_item {
  color: red;
  background: white;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  border: none;
}

#card_item_price {
  color: #fa9c23;
  font-weight: bold;
  font-size: 1.4rem;
}

#checkout_btn,
.review-btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  margin-top: 2rem;
  border-radius: 5rem;
}

#view_order_details {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

#order_summary {
  border: 0.2rem solid rgba(33, 37, 41, 1);
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}

.order-summary-values {
  float: right;
  font-weight: bold;
}

.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
}

.plus,
.minus {
  padding: 0.1rem 0.5rem;
  background-color: #f38f0b;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}

.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
  font-weight: bold;
}

/* Login & Register */

.wrapper-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 2rem;
  font-weight: bold;
  width: 768px;
  max-width: 100%;
  min-height: 300px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.wrapper-container form {
  padding: 2.5rem 3rem;
  color: rgba(33, 37, 41, 1);
}

.wrapper-container form .btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  color: white;
  margin-top: 2.5rem;
  font-weight: bold;
}

.wrapper-container form input {
  font-weight: bold;
}

.wrapper-container form a {
  font-size: 0.9rem;
  color: #fa9c23;
}
.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  min-height: 300px;
  /* background: #f8f9fa; */
}

.toggle-wrapper {
  background-color: rgba(33, 37, 41, 1);
  border-radius: 100px 0 0 100px;
}

.toggle-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  justify-content: center;
}

/* Dashboard form  */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-weight: 700;
  color: white;
}

.wrapper form {
  padding: 2.5rem 3rem;
}

.wrapper form .btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  color: white;
  margin-top: 2.5rem;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}

/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* Header User Profile */

.avatar-nav {
  margin-right: 2rem;
  height: 2.2rem;
  width: 2.2rem;
}

/* Checkout Steps */

.checkout-progress div {
  box-sizing: border-box;
}

.checkout-progress {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .checkout-progress {
    flex-direction: column;
    align-items: center;
  }

  .checkout-progress a {
    margin-bottom: 15px;
  }
}

.step {
  margin: 0px;
  border: 0;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 5px 10px 5px 15px;
  color: grey;
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  float: left;
  height: auto;
}

.incomplete {
  background: #eeeeee;
}

.active-step {
  background: #fa9c23;
  color: #fff;
}

.triangle-active {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #fa9c23;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-active {
  width: 0;
  float: left;
  border-top: 20px solid #fa9c23;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #fa9c23;
  margin-right: -1px;
}

.triangle-incomplete {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid #eeeeee;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-incomplete {
  width: 0;
  float: left;
  border-top: 20px solid #eeeeee;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #eeeeee;
  margin-right: -1px;
}

/* User Profile */

.avatar-profile {
  height: 16rem;
  width: 16rem;
}

.user-info h4 {
  font-weight: 800;
  color: grey;
  margin-top: 2rem;
}

.user-info p {
  font-size: 1.1rem;
}

#edit_profile {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

/* Confirm Order */

.order-confirm p,
.order-details p {
  margin-left: 1.5rem;
  font-weight: bold;
}

.update-btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  color: white;
}

.update-btn:hover {
  color: white;
}

/* Pagination */
.page-item.active .page-link {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

.page-link {
  color: #fa9c23;
}

.page-link:hover {
  color: #fa9c23;
}

/* Admin Sidebar */

.sidebar-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 100vh;
  font-weight: normal;

  margin-top: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
#sidebar {
  min-width: 100%;
  max-width: 100%;
  background: #232f3e;
  color: #fff;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #232f3e;
}
#sidebar ul.components {
  padding: 5px 0px;
  border-bottom: 1px solid #232f3e;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
  text-decoration: none;
}
#sidebar ul li a:hover {
  color: #232f3e;
  background: #fff;
}

#sidebar ul li a i {
  margin-right: 0.3rem;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #232f3e;
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 1rem !important;
  padding-left: 30px !important;
  background: #232f3e;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Products List Admin */
#products_table .btn {
  padding: 0.2rem 0.5rem;
  margin-left: 0.4rem;
}

/* Dashboard */

.card-font-size {
  font-size: 1.5rem;
}

/* Reviews */

.rating {
  margin-top: 10rem;
}

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #e3e3e3;
}

.star:first-child {
  padding-left: 0;
}

.orange {
  color: #fa9c23;
}

.yellow {
  color: #fdcc0d;
}

.review_user {
  font-size: 0.8rem;
  color: grey;
}

/* Styles for small screens and above */
@media (min-width: 576px) and (max-width: 767.98px) {
  footer .footer-list {
    margin-left: 1rem;
  }
  footer .footer-quick {
    margin-top: 1rem;
  }
}

/* Styles for medium screens and above */
@media (min-width: 768px) and (max-width: 991.98px) {
  footer .footer-list {
    margin-left: 1rem;
  }
  footer .footer-quick {
    margin-top: 1rem;
  }
}

/* Styles for small screens and below */
@media (max-width: 575.98px) {
  footer .footer-list {
    margin-left: 1rem;
  }
  footer .footer-quick {
    margin-top: 1rem;
  }
}

/* MDBREACT STYLING FOR RESPONSIVENESS */
.table-responsive {
  overflow-x: auto;
  background-color: rgba(33, 37, 41, 1);
  color: #fff;
}

@media (max-width: 768px) {
  .table-responsive {
    -webkit-overflow-scrolling: touch;
  }

  .table-responsive table {
    width: 100%;
    min-width: 700px; /* Adjust this value based on your table content */
  }
}
